

.httpgd rect {
    stroke: none !important;
    fill: none !important;
}

svg text {
    font-family: var(--vscode-editor-font-family) !important;
    fill: var(--vscode-foreground) !important;
}

.httpgd line, .httpgd polyline, .httpgd polygon, .httpgd path, .httpgd circle, .httpgd rect:not(:first-of-type) {
    stroke: var(--vscode-foreground) !important;
}
