**
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!R/**
!sess/**
!html/**/*.ejs
!html/**/*.css
!html/**/*.js
!images/**
!language-configuration/**
!snippets/**
!syntaxes/**
!dist/**/*.js
!dist/**/*.css
!dist/**/*.ejs
