@import url('./theme.css');

/* based off of VS Code's Dark+ theme */

.hljs-number {
  color: #cb4b16;
}

.hljs-regexp,
.hljs-bullet,
.hljs-string {
  color: #647400;
}
/* .hljs-subst, */
.hljs-symbol,
.hljs-class {
  color: #4ec9b0;
}

.hljs-literal,
.hljs-keyword,
.hljs-built_in,
.hljs-function,
.hljs-link {
  color: #2074b1;
}

.hljs-quote,
.hljs-comment {
  color: #727e7e;
}
