body {
  font-size: var(--vscode-editor-font-size);
}

pre, code {
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
}

body table:nth-child(1)[width="100%"] td:nth-child(2){
  display: none;
}

body table:nth-child(1)[width="100%"] td:nth-child(1){
  text-align: right;
}


h1, h2 {
  text-align: center;
  margin-block-end: 0;
}

img {
  display: none;
}

a ~ div.header {
  display: none;
}
