
#svgDiv {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

#handler {
    background-color: var(--vscode-textSeparator-foreground);
    height: 4px;
    cursor: ns-resize;
}
#handler:hover {
    background-color: var(--vscode-focusBorder);
}

#smallPlots {
    display: inline-block;
}

.plotDiv {
    width: 20%;
    height: auto;
    float: left;
}
.plotDiv[isActivePlot=true] {
    background-color: var(--vscode-list-inactiveSelectionBackground);
}
.plotDiv:hover[isActivePlot=false] {
    background-color: var(--vscode-list-hoverBackground);
}

:focus {
    outline: 0 !important;
}

body {
    padding-left: 1px;
    padding-right: 1px;
} 

.httpgd {
    width: 100%;
    height: 100%;
}
