
#svgDiv {
    width: 100%;
    overflow: auto;
    background-color: blue;
}

.plotDiv {
    width: 20%;
    height: 20%;
    float: left;
}

#handler {
    background-color: khaki;
    height: 5px;
    cursor: ns-resize;
}

.httpgd {
    width: 100%;
    height: auto;
}

.plotDiv[isActivePlot=true] {
    background-color: var(--vscode-list-inactiveSelectionBackground);
}

#plotDiv:hover {
    background-color: var(--vscode-list-hoverBackground);
}
